#login {
  color: red;
}
#login button {
  color: blue;
}

#rating {
  color: #aaa;
  text-decoration: none;
  font-size: 3em;
  transition: color .4s;
}

body {
  color: black;
  background-image: url(../img/fond4.jpg);
}

.bar {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
  color: white;
}

.statues {
  border: 2px solid #ffad33;
}

footer {
  width: 100%;
  background-color: #ffad33;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.thumbnail {
  border: 1px solid #ffad33;
}
