#login {
  color: red;
}
#login button {
  color: blue;
}

#rating {
  color: #aaa;
  text-decoration: none;
  font-size: 3em;
  transition: color .4s;
}

body {
  color: black;
  background-image: url(../img/fond4.jpg);
  margin: 0px;
  padding-top: 70px;
}

.bar {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
  color: white;
}

ul {
  list-style: none;
}

.thumbnail {
  border: 1px solid black;
}

.baniere {
  margin-top: -20px;
  background-size: contain;
}
.baniere #baniere {
  width: 100%;
}

#baniere {
  margin-top: -20px;
}

.note {
  margin-right: 0px;
}
.note strong {
  color: #0174DF;
  display: block;
  font-size: 45px;
  line-height: 1em;
  width: 100%;
}
.note span {
  border-top: 1px solid #DDD;
  color: #FFFFFF;
  display: inline-block;
  font-size: 25px;
  line-height: 1em;
  padding: 0 12px;
  padding-top: 2px;
  margin-top: 2px;
}

.rating {
  margin-top: 50px;
  direction: rtl;
}

.rating a {
  color: #aaa;
  text-decoration: none;
  font-size: 3em;
  transition: color .4s;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
  color: #0174DF;
  cursor: pointer;
}

.avis {
  color: #FFFFFF;
  font-family: arial;
  font-size: 20px;
  padding-left: 55px;
}

h1 {
  text-align: center;
}
h1 .deriv {
  color: black;
}

.liste {
  text-align: center;
  margin-top: 50px;
}

.btn {
  margin-top: 20px;
}

#myModal1 .modal-content {
  background-color: #ffad33;
}
#myModal1 .modal-body {
  background-color: whitesmoke;
}

.etoile {
  display: inline-flex;
}

a {
  color: #FFFFFF;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}
