@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
#login {
  color: red;
}
#login button {
  color: blue;
}

#rating {
  color: #aaa;
  text-decoration: none;
  font-size: 3em;
  transition: color .4s;
}

body {
  color: black;
  background-image: url(../img/fond4.jpg);
  margin: 0px;
  padding-top: 70px;
}

.bar {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.75), transparent);
  color: white;
}

.statues {
  border: 2px solid #ffad33;
}

.thumbnail {
  border: 1px solid #ffad33;
}

/*footer*/
footer {
  width: 100%;
  background-color: #222222;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  position: fixed;
  bottom: 0px;
}

/* minimal sm icons */
a, a:hover {
  color: #000;
  text-decoration: none;
  padding: 5px;
}

.socialbtns {
  margin-left: 45%;
  margin-top: -9px;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
  list-style: none outside none;
  display: inline-block;
}

.socialbtns .fa {
  color: #FFF;
  text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
  -webkit-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
  -moz-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
  -o-text-shadow: 1px 1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, -1px -1px 0px #000;
  transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -webkit-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
}

.socialbtns .fa:hover {
  color: #000;
  text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff, -1px -1px 0px #fff;
  -webkit-text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff, -1px -1px 0px #fff;
  -moz-text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff, -1px -1px 0px #fff;
  -o-text-shadow: 1px 1px 0px #fff, 1px -1px 0px #fff, -1px 1px 0px #fff, -1px -1px 0px #fff;
  transition: all ease 0.5s;
  -moz-transition: all ease-in 0.5s;
  -webkit-transition: all ease-in 0.5s;
  -o-transition: all ease-in 0.5s;
}

/*end footer*/
/*form*/
.carre {
  background-color: white;
  width: 50%;
  height: 500px;
  margin: auto;
}

html {
  font: 300 100%/1.5 Ubuntu, sans-serif;
  color: #333;
  overflow-x: hidden;
}

h2 {
  margin: 0;
  color: #8495a5;
  font-size: 2.5em;
  font-weight: 300;
}

#contact-form {
  max-width: 1208px;
  max-width: 75.5rem;
  margin: 0 auto;
}

#contact, label, input[name="submit"] {
  position: relative;
}

label > span, input, textarea, button {
  box-sizing: border-box;
}

label {
  display: block;
}

label > span {
  display: none;
}

input, textarea, button {
  width: 100%;
  padding: 0.5em;
  border: none;
  font: 300 100%/1.2 Ubuntu, sans-serif;
}

input[type="text"], input[type="email"], textarea {
  margin: 0 0 1em;
  border: 1px solid #ccc;
  outline: none;
}

input.invalid, textarea.invalid {
  border-color: #d5144d;
}

textarea {
  height: 6em;
}

input[type="submit"], button {
  background: #a7cd80;
  color: #333;
}

input[type="submit"]:hover, button:hover {
  background: #91b36f;
}

#contact-form h2 {
  margin-left: 26.3736%;
  font-size: 2em;
  line-height: 1.5;
}

label > span {
  vertical-align: top;
  display: inline-block;
  width: 26.3736%;
  padding: 0.5em;
  border: 1px solid transparent;
  text-align: right;
}

input, textarea, button {
  width: 73.6263%;
  line-height: 1.5;
}

textarea {
  height: 10em;
}

input[type="submit"], button {
  margin-left: 26.3736%;
}

#contact-form {
  text-align: justify;
  line-height: 0;
}

#contact-form:after {
  content: '';
  display: inline-block;
  width: 100%;
}

#contact-form h2 {
  margin-left: 17.2661%;
}

#contact-form form, #contact-form aside {
  vertical-align: top;
  display: inline-block;
  width: 65.4676%;
  text-align: left;
  line-height: 1.5;
}

#contact-form aside {
  width: 30.9353%;
}

ul {
  list-style: none;
}

.thumbnail {
  border: 1px solid black;
}

.baniere {
  margin-top: -20px;
  background-size: contain;
}

#baniere {
  width: 100%;
}

#baniere {
  margin-top: -20px;
}

.note {
  margin-right: 0px;
}
.note strong {
  color: #0174DF;
  display: block;
  font-size: 45px;
  line-height: 1em;
  width: 100%;
}
.note span {
  border-top: 1px solid #DDD;
  color: #FFFFFF;
  display: inline-block;
  font-size: 25px;
  line-height: 1em;
  padding: 0 12px;
  padding-top: 2px;
  margin-top: 2px;
}

.rating {
  margin-top: 50px;
  direction: rtl;
}

.rating a {
  color: #aaa;
  text-decoration: none;
  font-size: 3em;
  transition: color .4s;
}

.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
  color: #0174DF;
  cursor: pointer;
}

.avis {
  color: #FFFFFF;
  font-family: arial;
  font-size: 20px;
  padding-left: 55px;
}

h1 {
  text-align: center;
}
h1 .deriv {
  color: black;
}

.liste {
  text-align: center;
  margin-top: 50px;
}

#ask {
  margin-left: 26%;
  width: 74%;
}

.btn {
  margin-top: 20px;
}

#myModal1 .modal-content {
  background-color: #ffad33;
}
#myModal1 .modal-body {
  background-color: whitesmoke;
}

.etoile {
  display: inline-flex;
}

a {
  color: #FFFFFF;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#myModal2 .modal-content {
  background-color: #ffad33;
}
#myModal2 .modal-body {
  background-color: whitesmoke;
}

#myModal3 .modal-content {
  background-color: #ffad33;
}
#myModal3 .modal-body {
  background-color: whitesmoke;
}

#myModal4 .modal-content {
  background-color: #ffad33;
}
#myModal4 .modal-body {
  background-color: whitesmoke;
}

#myModal5 .modal-content {
  background-color: #ffad33;
}
#myModal5 .modal-body {
  background-color: whitesmoke;
}

#myModal6 .modal-content {
  background-color: #ffad33;
}
#myModal6 .modal-body {
  background-color: whitesmoke;
}

#myModal7 .modal-content {
  background-color: #ffad33;
}
#myModal7 .modal-body {
  background-color: whitesmoke;
}

#myModal8 .modal-content {
  background-color: #ffad33;
}
#myModal8 .modal-body {
  background-color: whitesmoke;
}

#myModal9 .modal-content {
  background-color: #ffad33;
}
#myModal9 .modal-body {
  background-color: whitesmoke;
}

#myModal10 .modal-content {
  background-color: #ffad33;
}
#myModal10 .modal-body {
  background-color: whitesmoke;
}
